body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


.dropdown {
  position: absolute;
  /*top: -200px;*/
  /*left: -200px;*/
  width: 200px;
  background-color: #e3e3e3;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  box-shadow: 0 0 15px -10px rgba(0,0,0,0.2);
  transition: 0.4s opacity ease;
}

.dropdown.visible {
  opacity: 1;
}


.comp {
  border: 1px dashed blue;
  padding: 10px;
  margin: 5px;
}
